body {
    background-color: #CEDFDF;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
a {
    color: #000 !important;
}

p {
    margin: 0;
    padding: 0;
}

#navbar {

    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2%;
    padding-top: 2%;
}

ul {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

#home {
    margin: 10% 15% !important;
    box-shadow: 0 0 8px grey !important;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 35%;
    background-color: #fff;
}


.navbar-brand {
    font-family: Homemade Apple !important;
    color: #000 !important;
    font-size: 50px;
    margin: 0;
    padding-right: 2%;
    padding-top: 2%;;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-item {
    color: #000 !important;
    font-size: 1.5rem !important;
}

.nav-link {
color: #000 !important;
padding: 0 !important;
margin: 0 5px !important;
}

.navbar-toggler-icon {
    color: grey;
}

.pattie {
    position: absolute;
    top: 40px;
left: 25%;
    bottom: 0;
    width: 50%;
    /* padding: 8% 5% 5% 5%; */
    border-radius: 100%;
    /* background-color: rgb(255,255,102); */     
}

.title {
    text-align: right;
    position: absolute;
    bottom: 0;
    padding-left: 2%;
    padding-bottom: 1%;
}

.title h4 {
    margin: 0;
    padding: 0;
}

.title p {
    color: grey;
    margin: 0;
    padding: 0;
}

.contact {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 2% !important;
    padding-bottom: 3% !important;
    font-weight: normal !important;
}

/* -------------------- experience ------------------ */

#experience {
    text-align: left;
    margin: 10% 15% !important;
    box-shadow: 0 0 8px grey !important;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    padding-top: 15%;
    padding-bottom: 5%;
}

#experience h2 {
    font-weight: 700;
    padding: 0;
    margin: 10px 0 0 0;
}

#experience h4 {
font-weight: bold;
margin-top: 30px;
margin-bottom: 0;
padding: 0;
}

.education {
    padding: 1% 5%;
    text-align: center;
}

.roles {
    padding: 1% 5%;
    text-align: center;

}

.leadership {
    padding: 1% 5%;
}

.volunteering {
    padding: 1% 5%;
}

hr {
    width: 50%;
    border: none;
    border-top: 1px solid lightgray;
}
/* ------------------------  contact ------------------  */
#contact {
    text-align: left;
    margin: 10% 15% !important;
    box-shadow: 0 0 8px grey !important;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    padding-top: 20%;
    padding-bottom: 20%;
}

.girl {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
    width: 45%;
}

.contact-info {
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 35%;
    margin-left: 2%;
    display: inline-block;
    width: 50%;
}

.contact-info h1 {
 font-weight: 600;
}

.social-btn {
    background-color: #CEDFDF;
    border-radius: 10%;
    padding: 1% 9%;
    font-size: 1rem;
    margin: 5px auto;
    display: inline-block;
    color: #fff !important;
    font-size: 30px;
}

.flip {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

/* ------------------ skills ------------------ */

#skills {
        margin: 10% 15% !important;
        box-shadow: 0 0 8px grey !important;
        text-align: center;
        overflow: hidden;
        position: relative;
        padding: 15% 5%;
        background-color: #fff;
    }

    .skill-item {
        box-shadow: 0 0 5px gray;
        margin: 20px 0;
        padding: 20px 10px;
    }

    .skill-pic {
        width: 50%;
        margin-bottom: 10px;
    }

    .tools {
      width: 10%;
      margin-bottom: 20px;
    }

    .skills-title {
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 0%;

        font-weight: 700;
    }

    /* ------------------ projects ------------------ */

    #projects {
        margin: 10% 5% !important;
        box-shadow: 0 0 8px grey !important;
        text-align: left;
        overflow: hidden;
        position: relative;
        padding: 15% 5%;
        background-color: #fff;
    }

    .project-pic {
        width: 20%;
        display: inline-block;
        margin: 0 auto;
    }

    .project-item {
        box-shadow: 0 0 5px gray;
        margin: 60px 0;
        padding: 20px 10px;
    }

    .project-type {
        font-weight: 700;
    }